#page_wrapper
  #profile_image
    = image_tag "profile.jpeg"
  #content
    %h1 Hi, I am Marek Czyż
    %p Welcome here on my private website
    %p 
      You can find my on Instagram
      %a{:href => "https://www.instagram.com/marassowy/"} @marrasowy
    