!!!
%html
  %head
    %title MyBlogApp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Raleway|Tangerine|Inconsolata|Droid+Sans'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #sidebar
      #logo
        = link_to root_path do
          = image_tag "logo.svg"
      %ul
        %li.category 
          Website
        %li 
          = link_to "Blog", root_path
        %li 
          = link_to "About", about_path
      %ul
        %li.category
          Social
        %li
          %a{:href => "https://www.instagram.com/marassowy/"} Instagram
        %li
          %a{:href => "maras.czyz@gmail.com"} Email
      - if !user_signed_in?
        %p.sign_in 
          = link_to "Admin login", new_user_session_path
    #main_content
      #header
        %p All posts
        - if user_signed_in?
          .buttons
            %button.button
              = link_to "Profile", edit_user_registration_path
            %button.button
              = link_to "New Post", new_post_path 
            %button.button
              = link_to "Log out", destroy_user_session_path, method: :delete
      - flash.each do |name, msg|
        = content_tag(:div, msg, class: "alert")
      = yield